# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia
4. SQL
5. R

#__Objectives__
- Languages for data science
- Data science tools
- Data science libraries

#Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. ggplot
5. caret

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| RStudio |
| Apache Airflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Omolo Farjala Awino